<div class="mx-4">
    <div class="postSource mb-2">
        <span class="fw-bolder text-secondary-emphasis">
            <%= comment.user.username %>
        </span>
        <i class="bi bi-dot"></i>
        <span class="text-body-secondary">
            <%= "#{time_ago_in_words(comment.created_at)} ago" %>
        </span>
    </div>
    <div class="ms-2">
        <%= simple_format(comment.body, class:"userText") %>
    </div>
</div>