<%= form_with model: [ post, Comment.new ], html: {class: "m-3 border rounded-4"} do |form| %>
    <div>
        <%= form.text_area :body, autofocus: true, class: "form-control rounded-4 border-0 mb-3 fs-6 shadow-none", placeholder: "Add a comment" %>
    </div>
    <div class="d-flex justify-content-end">
        <%= form.submit "Comment", class: "btn btn-sm btn-success rounded-5" %>
    </div>
<% end %>