// Sassy
.offcanvas-body * .list-group-item-action, .accordion-item {
    border: 0 !important;
}

#navLogIn{
    color: white !important; 
    background-color: #FF5700 !important; 
}
#navLogIn:hover{
    background-color: #FF4500 !important;
}