// Sassy
.offcanvas-body * .list-group-item-action, .accordion-item {
    border: 0 !important;
}

.orangeButton{
    color: white !important; 
    background-color: #FF5700 !important; 
}
.orangeButton:hover{
    background-color: #FF4500 !important;
}
.floatingLabel:after{
	--bs-bg-opacity: 1;
	background-color: rgba(var(--bs-secondary-bg-rgb),var(--bs-bg-opacity)) !important;
}