<div class="d-flex gap-2">
    <%= render partial: "layouts/vote_buttons", locals: {post: post } %>
    <button type="button" class="btn btn-sm btn-secondary rounded-5 d-flex gap-2 align-items-center px-2">
        <i class="bi bi-chat"></i>
        <span><%= post.comments.size %></span>
    </button>
</div>