<nav class="navbar navbar-expand-lg border border-secondary-subtle">
    <div class="container-fluid text-nowrap flex-nowrap">
        <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
            <i class="bi bi-list"></i>
        </button>
        <a class="navbar-brand" href="/">
            <%= image_tag( asset_path("svg/Reddit_Icon_FullColor.svg"), width: 32, height: 32) %>
        </a>
        <form class="d-flex flex-grow-1" role="search">
            <input class="form-control me-2 overflow-x-hidden" type="search" placeholder="Search" aria-label="Search">
        </form>
        <% if current_user.present? %>
            <%= link_to new_post_path, class: "btn", id: "createPost" do %>
                <i class="bi bi-plus-lg"></i> Create
            <% end %>
            <div class="nav-item dropdown" id="userMenu">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-circle"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li>
                        <%= link_to "Log Out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
                    </li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
        <% else %>
            <button type="button" class="btn rounded-5 orangeButton" data-bs-toggle="modal" data-bs-target="#loginModal">
                Log In
            </button>
            <div class="nav-item dropdown" id="settingsMenu">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-three-dots"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <%= link_to "Log In / Sign Up", new_user_session_path, class: "dropdown-item" %>
                    </li>
                    <li><a class="dropdown-item" href="#">Advertise on Reddit</a></li>
                    <li><a class="dropdown-item" href="#">Shop Collectible Avatars</a></li>
                </ul>
            </div>
        <% end %>
    </div>
</nav>